@font-face {
    font-family: "Ubuntu" ;
    src: url("../assets/fonts/Ubuntu-Regular.ttf");
}


*{
    font-family: "Ubuntu";
    margin: 0;
    scroll-behavior: smooth;
}

header{
    background-color: #ff8000;
    width: 100%;
    height: 80px;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;

}

.logo img {
    width: 240px;
    height: 50px;
}

.logo_burger{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo_burger img{
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.logo_burger img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.content{
    display: flex;
    width: 100%;
}

.main_wrapper{
    width:80% ;
    position: relative;
    flex-grow: 1;
}

.title_image{
    position: relative;
   
}

.head_image {
    background-image:url('../assets/img/main_image.jpg') ;
    height:50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title h1 {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 20px;

}

.title p {
    font-size: 20px;
    color: #ff8000;
    padding-bottom: 50px;
    padding-left: 20px;
}

.icon{
    background-image: url('../assets/icons/loffel-und-gabel.png');
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px; 
    height: 120px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 2px solid #ff8000 ;
    background-color: white;
}



.nav_category{
   padding: 10px;
    background-color: #F6F6F0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.category{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}



.category h3{
    text-wrap:nowrap;
    
}

.category h3:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


.nav_food{
   padding-left: 15px;
   padding-bottom: 25px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.food_category{
   display: flex;
   align-items: center;
   justify-content: flex-start ;
   padding: 10px 15px;
}



.food_display{
   padding: 15px;
   margin-bottom: 15px;
   background-color: white;
   width: 95%;
   border: 1px groove;
   position: relative;
   
}


.food_display:hover{
    cursor: pointer;
    background-color: #FEE4CA;
}

.food_display img{
    height: 20px;
    width: 20px;
}

.plus_btn {
    position: absolute;
    top: 0px; 
    right: 0px; 
    cursor: pointer; 
    border: 1px groove;
    padding: 10px;
}

.plus_btn:hover{
    cursor: pointer;
    background-color: #FEE4CA;
}

.basket_wrapper {
    width: 20%;
    flex-grow: 1;
    padding: 16px;
    border: 2px solid red;
}
.basket {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: blueviolet;
    height: auto;
}