@font-face {
    font-family: "Ubuntu" ;
    src: url("../assets/fonts/Ubuntu-Regular.ttf");
}


*{
    font-family: "Ubuntu";
    margin: 0;
    scroll-behavior: smooth;
}

header{
    background-color: #ff8000;
    width: 100%;
    height: 80px;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;

}

.logo img {
    width: 240px;
    height: 50px;
}

.logo_burger{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo_burger img{
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.logo_burger img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.content{
    display: flex;
    width: 100%;
}

.main_wrapper{
    width:calc(100% - 308px) ;
}

.title_image{
    position: relative;
}

.head_image {
    background-image:url('../assets/img/main_image.jpg') ;
    height:50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title h1 {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 20px;

}

.title p {
    font-size: 20px;
    color: #ff8000;
    padding-bottom: 50px;
    padding-left: 20px;
}

.icon{
    background-image: url('../assets/icons/loffel-und-gabel.png');
    position: absolute;
    top: calc(50vh);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px; 
    height: 120px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 2px solid #ff8000 ;
    background-color: white;
}

.nav_category{
   padding: 10px;
    background-color: #F6F6F0;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
    margin-right: 2px;
}

.nav_category::-webkit-scrollbar{
    width: 1px;
    height: 5px;
}

.nav_category::-webkit-scrollbar-track{
    background:   white;
}

.nav_category::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #ff8000;
}

.nav_category::-webkit-scrollbar-thumb:hover{
    background-color: #ffaa55;
}

.category{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    
}

.category h3{
    text-wrap:nowrap;
    
}

.category h3:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


.nav_food{
   padding-bottom: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.food_category{
   display: flex;
   align-items: center;
   justify-content: flex-start ;
   padding-top: 30px;
   padding-bottom: 10px;
}

.food_category h3{
    
    font-size: 25px;
}

.food_display{
   padding: 15px;
   margin-bottom: 15px;
   background-color: white;
   width: 95%;
   border: 1px groove;
   position: relative;
   
}

.food_display h4{
    padding-bottom: 10px;
}

.food_display p{
    padding-bottom: 10px;
}

.food_display:hover{
    cursor: pointer;
    background-color: #FEE4CA;
}

.food_display img{
    height: 20px;
    width: 20px;
}

.plus_btn {
    position: absolute;
    top: 0px; 
    right: 0px; 
    cursor: pointer; 
    border: 1px groove;
    padding: 10px;
}

.plus_btn:hover{
    cursor: pointer;
    background-color: #FEE4CA;
}

.plus_btn:active{
    transform: translateY(4px);
}

.basket_wrapper {
    width: 300px;
    flex-grow: 1;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}
.basket {
    width: 100%;
    position: sticky;
    top: 0;
    height: 400px;
}

.basket_headline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.shipping_switch{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
}

.radio-container {
    display: inline-flex; 
}

/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #cac4c431;
}

.delivery{
    border-radius: 10px 0 0 10px;
}

.pickup {
    border-radius: 0 10px 10px 0;
}

.delivery-option,
.pickup-option {
    display: flex;
    align-items: center;
}

.delivery-option img {
    width: 30px;
    height: 30px;
    margin-right: 10px; 
}

.pickup-option img {
    width: 30px;
    height: 30px;
    margin-left: 10px; 
}


/* When the radio button is selected */
input[type="radio"]:checked + label {
    background-color: #11000031;
}

label p {
    font-size: 16px;
    font-weight: bold;
   
}

label span {
    font-size: 14px;
    color: #888;
}

.cart {
    display: flex;
    flex-direction: column;
}

.cart_section{
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 5px;
}

.cart_item {
    display: flex;
    flex-direction: column;
}

.item_name {
    font-size: 20px;
    font-weight:bold ;
    padding-bottom: 15px;
}
.cart_controls {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.cart_controls img{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.cart_controls img:active{
    transform: translateY(3px);
}

.cart_total {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
}

.cart_sum{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px
}

.delivery_cost{
    padding-left: 25px;
    padding-right: 25px;
}

.cart_sum strong {
    font-size: 18px;
    color: #888;
}

.delivery_cost strong {
    font-size: 18px;
    color: #888;
}

.cart_total strong {
    font-size: 18px;
}

.price{
    padding-top: 20px;
}

.cart_section::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.cart_section::-webkit-scrollbar-track{
    background:   white;
}

.cart_section::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #ff8000;
}

.cart_section::-webkit-scrollbar-thumb:hover{
    background-color: #ffaa55;
}